#u568-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u569-4
{
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 4px;
	color: #545454;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
}

